{% extends 'base.html' %}
{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <div id="userProfilePage">

        <h2>Your Profile</h2>

        <section id="userResetForm">
            {% if success %}
                <p id="userResetSuccess">
                    Thank you. your password has been updated. Please <a href="{% url account_profile %}">click here</a>
                    to continue.
                </p>
            {% else %}
                {% if form.old_password %}
                    <p id="formIntro">Please enter your old password and your new password twice.</p>
                {% else %}
                    <p id="formIntro">Please enter your new password twice.</p>
                {% endif %}
                <form action="{{ request.path }}" method="post">
                    {% csrf_token %}
                    {% if form.old_password %}
                        <div class="formLeft">
                            <label for="old_password"{% if form.old_password.errors %} class="error"{% endif %}>Old
                                Password</label>
                        </div>
                        <div class="formRight">
                            <div class="formField">{{ form.old_password }}</div>
                            {{ form.old_password.errors }}
                        </div>
                    {% endif %}
                    <div class="formLeft">
                        <label for="new_password1"{% if form.new_password1.errors %} class="error"{% endif %}>New
                            Password</label>
                    </div>
                    <div class="formRight">
                        <div class="formField">{{ form.new_password1 }}</div>
                        {{ form.new_password1.errors }}
                    </div>
                    <div class="formLeft">
                        <label for="new_password2"{% if form.new_password2.errors %} class="error"{% endif %}>Confirm
                            Password</label>
                    </div>
                    <div class="formRight">
                        <div class="formField">{{ form.new_password2 }}</div>
                        {{ form.new_password2.errors }}
                        <button id="formSubmitButton" type="submit">Save</button>
                    </div>
                    <div class="clear spacer0">&nbsp;</div>
                </form>
            {% endif %}
        </section>
    </div>
{% endblock %}
