{% extends "base.html" %}

{% block content %}
    <div class="span12 alpha">
        <!-- ******************************
            each view has a mainheader
        ******************************* -->
        <div class="mainHeader clearfix">

            <div class="right clearfix">
                <!-- add a modal here -->
                <a href="#addFamilyModal" role="button" class="btn primary" data-toggle="modal">add new</a>
            </div>
        </div>


        <div class="profile med left family">
            <div class="left profileThumb">
                <img class="thumb" src="http://placehold.it/100x80&text=child">
            </div>
            <div class="profileInfo left clearfix">
                <div class="header clearfix">
                    <img class="right" src="library/images/boy-icon.gif" alt="boy-icon" width="22" height="21"/>

                    <div class="clearfix"></div>
                    <h2>Kyle <span class="attention">Lawrence</span></h2>

                    <h3 class="location">Age: <span class="attention">12</span></h3>

                    <h3 class="location">Grade: <span class="attention">5th</span></h3>
                </div>
                <!-- end of header -->
            </div>
            <!-- end of profileInfo -->
            <div class="clearfix"></div>
            <div class="matchInfo clearfix">
                <div class="description clearfix">
                    <!-- need the description to be an excerpt of roughly this length so it doesn't go over 5 lines in length -->
                    <p>I am a working mother with two sons and one daugher who is looking to pair them with other
                        children in the area. My kids love sports arts, dancing and the occasional trip to Great
                        America.</p>
                </div>
                <!-- end of description -->
                <h3>Interests</h3>
                <ul class="interests clearfix">
                    <li>Baseball</li>
                    <li>Basketball</li>
                    <li>Football</li>
                    <li>Swimming</li>
                    <li>Volleyball</li>
                    <li>Climbing</li>
                    <li>Soccer</li>
                    <li>Dance</li>
                    <li>Karate</li>
                    <li>Skateboarding</li>
                    <li>Bike Riding</li>
                </ul>
                <p><a href="#" class="link"><span>//</span>edit</a></p>
            </div>
            <!-- end of matchInfo -->
        </div>
        <!-- end of profile -->

        <!-- *************************************************
            this is the end of each profile for the loop
        ************************************************** -->
        <div class="profile med left family">
            <div class="left profileThumb">
                <img class="thumb" src="http://placehold.it/100x80&text=child">
            </div>
            <div class="profileInfo left clearfix">
                <div class="header clearfix">
                    <img class="right" src="library/images/boy-icon.gif" alt="boy-icon" width="22" height="21"/>

                    <div class="clearfix"></div>
                    <h2>Kyle <span class="attention">Lawrence</span></h2>

                    <h3 class="location">Age: <span class="attention">12</span></h3>

                    <h3 class="location">Grade: <span class="attention">5th</span></h3>
                </div>
                <!-- end of header -->
            </div>
            <!-- end of profileInfo -->
            <div class="clearfix"></div>
            <div class="matchInfo clearfix">
                <div class="description clearfix">
                    <!-- need the description to be an excerpt of roughly this length so it doesn't go over 5 lines in length -->
                    <p>I am a working mother with two sons and one daugher who is looking to pair them with other
                        children in the area. My kids love sports arts.</p>
                </div>
                <!-- end of description -->
                <h3>Interests</h3>
                <ul class="interests clearfix">
                    <li>Baseball</li>
                    <li>Basketball</li>
                    <li>Football</li>
                    <li>Swimming</li>
                    <li>Volleyball</li>
                    <li>Climbing</li>
                    <li>Soccer</li>
                    <li>Dance</li>
                    <li>Karate</li>
                    <li>Skateboarding</li>
                    <li>Bike Riding</li>
                </ul>
                <p><a href="#" class="link"><span>//</span>edit</a></p>
            </div>
            <!-- end of matchInfo -->
        </div>
        <!-- end of profile -->
        <div class="profile med left family">
            <div class="left profileThumb">
                <img class="thumb" src="http://placehold.it/100x80&text=child">
            </div>
            <div class="profileInfo left clearfix">
                <div class="header clearfix">
                    <img class="right" src="library/images/girl-icon.gif" alt="girl-icon" width="22" height="21"/>

                    <div class="clearfix"></div>
                    <h2>Mary <span class="attention">Lawrence</span></h2>

                    <h3 class="location">Age: <span class="attention">6</span></h3>

                    <h3 class="location">Grade: <span class="attention">1st</span></h3>
                </div>
                <!-- end of header -->
            </div>
            <!-- end of profileInfo -->
            <div class="clearfix"></div>
            <div class="matchInfo clearfix">
                <div class="description clearfix">
                    <!-- need the description to be an excerpt of roughly this length so it doesn't go over 5 lines in length -->
                    <p>I am a working mother with two sons and one daugher who is looking to pair them with other
                        children in the area. My kids love sports arts, dancing and the occasional trip to Great
                        America.</p>
                </div>
                <!-- end of description -->
                <h3>Interests</h3>
                <ul class="interests clearfix">
                    <li>Swimming</li>
                    <li>Volleyball</li>
                    <li>Climbing</li>
                    <li>Soccer</li>
                    <li>Dance</li>
                    <li>Bike Riding</li>
                </ul>
                <p><a href="#" class="link"><span>//</span>edit</a></p>
            </div>
            <!-- end of matchInfo -->
        </div>
        <!-- end of profile -->

        <div class="profile med left family">
            <div class="left profileThumb">
                <img class="thumb" src="http://placehold.it/100x80&text=child">
            </div>
            <div class="profileInfo left clearfix">
                <div class="header clearfix">
                    <img class="right" src="library/images/girl-icon.gif" alt="girl-icon" width="22" height="21"/>

                    <div class="clearfix"></div>
                    <h2>Susan <span class="attention">Lawrence</span></h2>

                    <h3 class="location">Age: <span class="attention">10</span></h3>

                    <h3 class="location">Grade: <span class="attention">4th</span></h3>
                </div>
                <!-- end of header -->
            </div>
            <!-- end of profileInfo -->
            <div class="clearfix"></div>
            <div class="matchInfo clearfix">
                <div class="description clearfix">
                    <!-- need the description to be an excerpt of roughly this length so it doesn't go over 5 lines in length -->
                    <p>I am a working mother with two sons and one daugher who is looking to pair them with other
                        children in the area. My kids love sports arts, dancing and the occasional trip to Great
                        America.</p>
                </div>
                <!-- end of description -->
                <h3>Interests</h3>
                <ul class="interests clearfix">
                    <li>Swimming</li>
                    <li>Volleyball</li>
                    <li>Climbing</li>
                    <li>Soccer</li>
                    <li>Dance</li>
                    <li>Bike Riding</li>
                </ul>
                <p><a href="#" class="link"><span>//</span>edit</a></p>
            </div>
            <!-- end of matchInfo -->
        </div>
        <!-- end of profile -->

        <div class="profile med left family">
            <div class="left profileThumb">
                <img class="thumb" src="http://placehold.it/100x80&text=child">
            </div>
            <div class="profileInfo left clearfix">
                <div class="header clearfix">
                    <img class="right" src="library/images/girl-icon.gif" alt="girl-icon" width="22" height="21"/>

                    <div class="clearfix"></div>
                    <h2>Mary Lawrence</h2>

                    <h3 class="location">Age: <a href="" class="city">6</a></h3>

                    <h3 class="location">Grade: <a href="" class="city">1st</a></h3>
                </div>
                <!-- end of header -->
            </div>
            <!-- end of profileInfo -->
            <div class="clearfix"></div>
            <div class="matchInfo clearfix">
                <div class="description clearfix">
                    <!-- need the description to be an excerpt of roughly this length so it doesn't go over 5 lines in length -->
                    <p>I am a working mother with two sons and one daugher who is looking to pair them with other
                        children in the area. My kids love sports arts, dancing and the occasional trip to Great
                        America.</p>
                </div>
                <!-- end of description -->
                <h3>Interests</h3>
                <ul class="interests clearfix">
                    <li>Swimming</li>
                    <li>Volleyball</li>
                    <li>Climbing</li>
                    <li>Soccer</li>
                    <li>Dance</li>
                    <li>Bike Riding</li>
                </ul>
                <p><a href="#" class="link"><span>//</span>edit</a></p>
            </div>
            <!-- end of matchInfo -->
        </div>
        <!-- end of profile -->


    </div><!-- end of span12 -->


    <!-- family profie add children modal -->
    <!-- Modal -->
    <!-- see http://jsfiddle.net/uZY4B/9/ for the step wizard -->
    <script type="text/javascript">
        $(document).ready(function () {
            var $pages = $(".steps-content").children("div"),
                    $steps = $(".steps-wizard").children("div"),
                    totalPages = $pages.length,
                    count = 0;

            $(".navigation").on("click", function (e) {
                e.preventDefault();
                var navigate = $(this).data("nav");
                if (navigate == "next") {
                    count++;
                } else {
                    count--;
                }

                if (count > totalPages) {
                    count = 0;
                }
                if (count < totalPages && count >= 0) {
                    $pages.removeClass('content-active').eq(count).addClass('content-active');

                    $steps.removeClass('step-active').eq(count).addClass('step-active');
                }
            });
        });

    </script>
    <style type="text/css">
        .steps-wizard > div, .steps-content > div {
            display: none;
            padding: 10px;
            border: 1px solid #ccc;
            margin-top: 10px;
        }

        .navContainer {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }

        .steps-wizard .step-active, .steps-content .content-active {
            display: block;
        }

        .navContainer .skip {
            cursor: pointer
        }
    </style>
    <div id="addFamilyModal" class="modal modal820 hide fade" tabindex="-1" role="dialog"
         aria-labelledby="myAddFamilyLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myAddFamilyLabel">Edit <span class="attention">Family Profile<span></span></h3>
        </div>
        <div class="modal-body">
            <div class="profile left family">
                <form id="addEditProfile" action="">
                    <div class="half left clearfix">
                        <div class="left profileThumb">
                            <img class="thumb" src="http://placehold.it/100x80&text=child">

                            <div class="clearfix"></div>
                            <a href="#" class="btn secondary">new photo</a>
                        </div>
                        <div class="profileInfo left clearfix">
                            <div class="header clearfix">
                                <div class="control-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" id="firstName" placeholder="Kyle">
                                </div>
                                <div class="control-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" id="lastName" placeholder="Lawrence">
                                </div>
                                <div class="control-group">
                                    <label for="childAge">Child's Age</label>
                                    <input type="text" id="childAge" placeholder="8">
                                </div>
                                <div class="control-group">
                                    <label for="childGrade">Grade Level</label>
                                    <input type="text" id="childGrade" placeholder="5th">
                                </div>
                            </div>
                            <!-- end of header -->
                        </div>
                        <!-- end of profileInfo -->
                        <div class="clearfix"></div>
                        <div class="questions">
                            <h3 class="heading attention">Personality Questions :</h3>

                            <p class="subheading">Answer questions about your childs personality Lorem ipsum dolor sit
                                amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                dolore magna.</p>
                            <!--<div class="steps-wizard">
                                <div class="step1 step-active">1</div>
                                <div class="step2">2</div>
                                <div class="step3">3</div>
                        </div>-->

                            <div id="steps-form">
                                <div class="steps-content">
                                    <!-- STEP 1 -->
                                    <div class="step1-content content-active">
                                        <h3 class="attention">Question 1</h3>

                                        <p>Is your child someone who enjoys playing in a group or alone?</p>

                                        <div class="control-group">
                                            <label class="radio"><input type="radio" name="optionsRadios"
                                                                        id="optionsRadios1" value="option1" checked>Alone</label>
                                            <label class="radio"><input type="radio" name="optionsRadios"
                                                                        id="optionsRadios2"
                                                                        value="option2">Group</label>
                                        </div>
                                    </div>

                                    <!-- STEP 2 -->
                                    <div class="step2-content">
                                        -- Question Two --
                                    </div>

                                    <!-- STEP 3 -->
                                    <div class="step3-content">
                                        -- Question Three--

                                    </div>
                                </div>
                                <div class="navContainer clearfix">
                                    <a class="left link skip"><span>//</span>skip</a>

                                    <div class="right">
                                        <a href="#" class="navigation link" data-nav="prev"><span>//</span>Prev</a>&nbsp;&nbsp;<a
                                            href="#" class="navigation link" data-nav="next"><span>//</span>Next</a>
                                    </div>
                                </div>
                                <!-- end of navContainer -->
                            </div>
                        </div>
                    </div>
                    <!-- end of half -->
                    <div class="half left clearfix">
                        <div class="control-group">
                            <label for="childBio">Bio</label>
                            <textarea id="childBio"></textarea>
                        </div>
                        <div class="control-group">
                            <p><span class="attention">Select Interest</span> or enter interest and 'add'.</p>
                            <input type="text" id="childInterests" placeholder="Add a New Interest" class="left"><a
                                href="#" class="left btn primary">add interest</a>

                            <div class="clearfix"></div>
                            <ul class="interests">
                                <li>
                                    <label class="checkbox"><input type="checkbox" name="interestOptions"
                                                                   id="interestOptions" value="swimming" checked>Swimming</label>
                                </li>
                                <li>
                                    <label class="checkbox"><input type="checkbox" name="interestOptions"
                                                                   id="interestOptions" value="baseball" checked>Baseball</label>
                                </li>
                                <li>
                                    <label class="checkbox"><input type="checkbox" name="interestOptions"
                                                                   id="interestOptions"
                                                                   value="basketball">Basketball</label>
                                </li>
                                <li>
                                    <label class="checkbox"><input type="checkbox" name="interestOptions"
                                                                   id="interestOptions"
                                                                   value="football">Football</label>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <!-- end of half -->
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn secondary" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn primary">save changes</button>
        </div>
    </div>
{% endblock %}
