{% extends "user_base.html" %}
{% load i18n %}
{% load gravatar %}
{% load follow_tags %}
{% load thumbnail %}
{% load humanize %}
<!-- Begin page content -->
{% load upload_tags %}
{% block content %}
    <div class="span9 alpha">
		<!-- ******************************
			each view has a mainheader
		******************************* -->
    		<div class="mainHeader clearfix">
    			<h2>Recommendations:</h2>
    			<div class="right clearfix">
    				<a href="#" class="link"><span>//</span>improve recommendations</a>
    				<p class="highlight">by building your profile</p>
    			</div>
    		</div>

    			<!-- *********************************************************
    				starting the recommendation profiles. This is a loop
    			********************************************************** -->
    			<div class="profile med left clearfix">
    				<div class="left profileThumb">
    					<img class="thumb" src="http://placehold.it/100x80&text=profile+thumbnail">
    				</div>
    				<div class="left profileInfo clearfix">
    					<div class="header clearfix">
						<h2>Rochelle <span class="attention">Chase</span></h2>
						<h3 class="location">Location: <a href="" class="city">San Francisco</a></h3>
						<ul class="family clearfix">
							<li>
								<span class="gender girl"><img src="library/images/girl-icon.gif" alt="girl-icon" width="22" height="21" />girls</span>
								<span class="number">2</span>
							</li>
							<li>
								<span class="gender boy"><img src="library/images/boy-icon.gif" alt="boy-icon" width="22" height="21" />boys</span>
								<span class="number">1</span>
							</li>
						</ul>
    					</div><!-- end of header -->
    				</div><!-- end of profileInfo -->
    				<div class="clearfix"></div>
    				<div class="matchInfo clearfix">
    					<div class="description clearfix">
    						<!-- need the description to be an excerpt of roughly this length so it doesn't go over 5 lines in length -->
    						<p>I am a working mother with two sons and one daugher who is looking to pair them with other children in the area. My kids love sports arts, dancing and the occasional trip to Great America. We are not...<a href="#">more</a></p>
    						<p class="highlight">We recommended Rochelle because of common location, interests in sports, and age of children, and ethical beliefs.</p>
    						<div id="rating" class="starrr"></div>
    						<a href="" class="btn secondary half">remove</a>
    						<a href="" class="btn primary half">request</a>
    					</div>
    				</div><!-- end of requestInfo -->
    			</div><!-- end of profile -->

    			<div class="profile med left clearfix">
    				<div class="left profileThumb">
    					<img class="thumb" src="http://placehold.it/100x80&text=profile+thumbnail">
    				</div>
    				<div class="left profileInfo clearfix">
    					<div class="header clearfix">
						<h2>Rochelle <span class="attention">Chase</span></h2>
						<h3 class="location">Location: <a href="" class="city">San Francisco</a></h3>
						<ul class="family clearfix">
							<li>
								<span class="gender girl"><img src="library/images/girl-icon.gif" alt="girl-icon" width="22" height="21" />girls</span>
								<span class="number">2</span>
							</li>
							<li class="inactive"><!-- if there are no children then give it the class of inactive -->
								<span class="gender boy"><img src="library/images/boy-icon-inactive.gif" alt="boy-icon-inactive" width="22" height="21" />boys</span>
								<span class="number">0</span>
							</li>
						</ul>
    					</div><!-- end of header -->
    				</div><!-- end of profileInfo -->
    				<div class="clearfix"></div>
    				<div class="matchInfo clearfix">
    					<div class="description clearfix">
    						<!-- need the description to be an excerpt of roughly this length so it doesn't go over 5 lines in length -->
    						<p>I am a working mother with two sons and one daugher who is looking to pair them with other children in the area. My kids love sports arts, dancing and the occasional trip to Great America. We are not...<a href="#">more</a></p>
    						<p class="highlight">We recommended Rochelle because of common location, interests in sports, and age of children, and ethical beliefs.</p>
    						<!-- using https://github.com/dobtco/starrr Need to make it in the js not to allow users to change the rating -->
    						<div id="rating" class="starrr"></div>
    						<a href="" class="btn secondary half">remove</a>
    						<a href="" class="btn primary half">request</a>
    					</div>
    				</div><!-- end of requestInfo -->
    			</div><!-- end of profile -->

    			<div class="profile med left clearfix">
    				<div class="left profileThumb">
    					<img class="thumb" src="http://placehold.it/100x80&text=profile+thumbnail">
    				</div>
    				<div class="left profileInfo clearfix">
    					<div class="header clearfix">
						<h2>Rochelle <span class="attention">Chase</span></h2>
						<h3 class="location">Location: <a href="" class="city">San Francisco</a></h3>
						<ul class="family clearfix">
							<li>
								<span class="gender girl"><img src="library/images/girl-icon.gif" alt="girl-icon" width="22" height="21" />girls</span>
								<span class="number">2</span>
							</li>
							<li>
								<span class="gender boy"><img src="library/images/boy-icon.gif" alt="boy-icon" width="22" height="21" />boys</span>
								<span class="number">1</span>
							</li>
						</ul>
    					</div><!-- end of header -->
    				</div><!-- end of profileInfo -->
    				<div class="clearfix"></div>
    				<div class="matchInfo clearfix">
    					<div class="description clearfix">
    						<!-- need the description to be an excerpt of roughly this length so it doesn't go over 5 lines in length -->
    						<p>I am a working mother with two sons and one daugher who is looking to pair them with other children in the area. My kids love sports arts, dancing and the occasional trip to Great America. We are not...<a href="#">more</a></p>
    						<p class="highlight">We recommended Rochelle because of common location, interests in sports, and age of children, and ethical beliefs.</p>
    						<div id="rating" class="starrr"></div>
    						<a href="" class="btn secondary half">remove</a>
    						<a href="" class="btn primary half">request</a>
    					</div>
    				</div><!-- end of requestInfo -->
    			</div><!-- end of profile -->

    			<div class="profile med left clearfix">
    				<div class="left profileThumb">
    					<img class="thumb" src="http://placehold.it/100x80&text=profile+thumbnail">
    				</div>
    				<div class="left profileInfo clearfix">
    					<div class="header clearfix">
						<h2>Rochelle <span class="attention">Chase</span></h2>
						<h3 class="location">Location: <a href="" class="city">San Francisco</a></h3>
						<ul class="family clearfix">
							<li class="inactive">
								<span class="gender girl"><img src="library/images/girl-icon-inactive.gif" alt="girl-icon-inactive" width="22" height="21" />girls</span>
								<span class="number">0</span>
							</li>
							<li>
								<span class="gender boy"><img src="library/images/boy-icon.gif" alt="boy-icon" width="22" height="21" />boys</span>
								<span class="number">1</span>
							</li>
						</ul>
    					</div><!-- end of header -->
    				</div><!-- end of profileInfo -->
    				<div class="clearfix"></div>
    				<div class="matchInfo clearfix">
    					<div class="description clearfix">
    						<!-- need the description to be an excerpt of roughly this length so it doesn't go over 5 lines in length -->
    						<p>I am a working mother with two sons and one daugher who is looking to pair them with other children in the area. My kids love sports arts, dancing and the occasional trip to Great America. We are not...<a href="#">more</a></p>
    						<p class="highlight">We recommended Rochelle because of common location, interests in sports, and age of children, and ethical beliefs.</p>
    						<div id="rating" class="starrr"></div>
    						<a href="" class="btn secondary half">remove</a>
    						<a href="" class="btn primary half">request</a>
    					</div>
    				</div><!-- end of requestInfo -->
    			</div><!-- end of profile -->

    			<div class="profile med left clearfix">
    				<div class="left profileThumb">
    					<img class="thumb" src="http://placehold.it/100x80&text=profile+thumbnail">
    				</div>
    				<div class="left profileInfo clearfix">
    					<div class="header clearfix">
						<h2>Rochelle <span class="attention">Chase</span></h2>
						<h3 class="location">Location: <a href="" class="city">San Francisco</a></h3>
						<ul class="family clearfix">
							<li>
								<span class="gender girl"><img src="library/images/girl-icon.gif" alt="girl-icon" width="22" height="21" />girls</span>
								<span class="number">2</span>
							</li>
							<li>
								<span class="gender boy"><img src="library/images/boy-icon.gif" alt="boy-icon" width="22" height="21" />boys</span>
								<span class="number">1</span>
							</li>
						</ul>
    					</div><!-- end of header -->
    				</div><!-- end of profileInfo -->
    				<div class="clearfix"></div>
    				<div class="matchInfo clearfix">
    					<div class="description clearfix">
    						<!-- need the description to be an excerpt of roughly this length so it doesn't go over 5 lines in length -->
    						<p>I am a working mother with two sons and one daugher who is looking to pair them with other children in the area. My kids love sports arts, dancing and the occasional trip to Great America. We are not...<a href="#">more</a></p>
    						<p class="highlight">We recommended Rochelle because of common location, interests in sports, and age of children, and ethical beliefs.</p>
    						<div id="rating" class="starrr"></div>
    						<a href="" class="btn secondary half">remove</a>
    						<a href="" class="btn primary half">request</a>
    					</div>
    				</div><!-- end of requestInfo -->
    			</div><!-- end of profile -->

    			<!-- *************************************************
    				this is the end of each profile for the loop
    			************************************************** -->



    	</div>
    <div class="span3">
    		<div id="playDate" class="sidebar">
    			<h2>Upcoming Play Dates:</h2>

    			<!-- upcoming playdate loop -->
    			<div class="profile small clearfix">
    				<div class="left profileThumb">
    					<img src="http://placehold.it/80x60&text=profile+thumbnail">
    				</div>
    				<div class="date left">
    					<h3>Today<span>03/15/2014</span></h3>
    				</div>
    				<div class="clearfix"></div>
    				<div class="profileInfo">
    					<div class="header clearfix">
						<h2>Rochelle Chase</h2>
						<h3 class="location">Location: <a href="" class="city">The Park</a></h3>
						<span class="highlight">Pacific Heights, San Francisco</span>
    					</div><!-- end of header -->
    				</div>
    				<div class="matchInfo clearfix">
    					<a href="" class="btn plain half action">map it!</a>
    					<a href="" class="btn plain half">reschedule</a>
    				</div><!-- end of matchInfo -->
    			</div><!-- end of profile -->

    			<div class="profile small clearfix">
    				<div class="left profileThumb">
    					<img src="http://placehold.it/80x60&text=profile+thumbnail">
    				</div>
    				<div class="date left">
    					<h3>Today<span>03/15/2014</span></h3>
    				</div>
    				<div class="clearfix"></div>
    				<div class="profileInfo">
    					<div class="header clearfix">
						<h2>Rochelle Chase</h2>
						<h3 class="location">Location: <a href="" class="city">The Park</a></h3>
						<span class="highlight">Pacific Heights, San Francisco</span>
    					</div><!-- end of header -->
    				</div>
    				<div class="matchInfo clearfix">
    					<a href="" class="btn plain half action">map it!</a>
    					<a href="" class="btn plain half">reschedule</a>
    				</div><!-- end of matchInfo -->
    			</div><!-- end of profile -->

    			<div class="profile small clearfix">
    				<div class="left profileThumb">
    					<img src="http://placehold.it/80x60&text=profile+thumbnail">
    				</div>
    				<div class="date left">
    					<h3>Today<span>03/15/2014</span></h3>
    				</div>
    				<div class="clearfix"></div>
    				<div class="profileInfo">
    					<div class="header clearfix">
						<h2>Rochelle Chase</h2>
						<h3 class="location">Location: <a href="" class="city">The Park</a></h3>
						<span class="highlight">Pacific Heights, San Francisco</span>
    					</div><!-- end of header -->
    				</div>
    				<div class="matchInfo clearfix">
    					<a href="" class="btn plain half action">map it!</a>
    					<a href="" class="btn plain half">reschedule</a>
    				</div><!-- end of matchInfo -->
    			</div><!-- end of profile -->

    			<div class="profile small clearfix">
    				<div class="left profileThumb">
    					<img src="http://placehold.it/80x60&text=profile+thumbnail">
    				</div>
    				<div class="date left">
    					<h3>Today<span>03/15/2014</span></h3>
    				</div>
    				<div class="clearfix"></div>
    				<div class="profileInfo">
    					<div class="header clearfix">
						<h2>Rochelle Chase</h2>
						<h3 class="location">Location: <a href="" class="city">The Park</a></h3>
						<span class="highlight">Pacific Heights, San Francisco</span>
    					</div><!-- end of header -->
    				</div>
    				<div class="matchInfo clearfix">
    					<a href="" class="btn plain half action">map it!</a>
    					<a href="" class="btn plain half">reschedule</a>
    				</div><!-- end of matchInfo -->
    			</div><!-- end of profile -->

    		</div><!-- end of sidebar -->
    	</div>
{% endblock %}


{% block footer_js %}
<script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}js/tmpl.min.js"></script>
<script src="{{ STATIC_URL }}js/load-image.min.js"></script>
<script src="{{ STATIC_URL }}js/canvas-to-blob.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-image-gallery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload-fp.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script>
<script src="{{ STATIC_URL }}js/locale.js"></script>
<script src="{{ STATIC_URL }}js/fileupload_main.js"></script>
<script src="{{ STATIC_URL }}js/csrf.js"></script>

<script>
    if (window.opener) {
        if (window.opener.app_model.signing_up_with_facebook) {
            window.close();
            window.opener.show_signup21();
        } else {
            window.opener.location.reload();
            window.close();
        }
    }


</script>


{% upload_js %}
{% endblock %}









