{% extends "account/profile.html" %}
{% block bodyClass %}inner{% endblock %}
{% load gravatar %}
{% load thumbnail %}
{% load follow_tags %}


{% block title %}Edit your interest{% endblock %}

{% block right_panel %}

    <div class="row-fluid">
        <h2 style="margin-top: 20px;">Edit Interests</h2>
        {% for interest in interests %}
            <div class="media_action span3">
                <span>{{ interest.name }}</span>
                <button class="btn btn-red btn-small btn-remove-interest"
                        action="{% url remove_interest interest.pk %}"><i class="icon-trash"></i>delete
                </button>
            </div>
        {% endfor %}
    </div>

{% endblock %}