<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/skeleton.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<link rel="icon" href="/static/static/images/favicon.png" type="image/png">
<link href="/static/css/jquery.fancybox.css" rel="stylesheet">
<link href="/static/flowplayer/skin/minimalist.css" rel="stylesheet">
<link href="/static/css/chosen.css" rel="stylesheet">
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/profile.css" rel="stylesheet">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/css/pricing.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/font-awesome.css" rel="stylesheet">
<script src="/static/js/bootstrap.js"></script>


{% block content %}

<div class="interest-page inner fitness-interest-registration-page">
    <div class="container">
        <div class="row-fluid">
            <div class="clearfix top-icons span12 text-center">
                <img src="/static/images/fanzone_icon-medium.png" class="tab-fanzone" alt="FanZone">
                <img src="/static/images/fitness_icon-medium.png" class="tab-nutrition" alt="Fitness & Nutrition">
                <img src="/static/images/gametime_icon-medium.png" class="tab-gametime" alt="GameTime">
            </div>
        </div>

        <div class="row-fluid">
           <!-- <div class="carousel-control left" data-slide="prev"><i class="icon-chevron-left"></i></div>
            <div class="carousel-control right" data-slide="next"><i class="icon-chevron-right"></i></div>-->
            <div class="carousel-inner">
                <div class="item active">
                    {% for i in interests %}
                    <div class="interest" interest_id="{{i.id}}">
                        <img src="/static/images/checked.png" class="checked-icon">
                        <img src="{{i.get_thumb}}" class="">
                        <span>{{i.name}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- end of container -->
</div>

{% endblock %}
