{% extends "user_base.html" %}
{% load i18n %}


{% block extra_head %}
    <link href="{{ STATIC_URL }}css/chosen.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap-wysihtml5-0.0.2.css"/>
    <script src="/static/js/wysihtml5-0.3.0_rc2.js"></script>
    <script src="/static/js/bootstrap-wysihtml5-0.0.2.js"></script>
    <script src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
{% endblock %}

{% load i18n %}
{% load url from future %}
{% load gravatar %}
{% load thumbnail %}

{% block bodyclass %}about{% endblock %}
{% block page_content %}

<div class="container">
    <style>
        .wysihtml5-sandbox {
            width: 730px !important;
            height: 150px !important;
        }

        .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
            width: 940px;
        }

    ul.wysihtml5-toolbar {margin: 0 0 6px;padding: 0;display: block;background: rgba(0,0,0,.05);}
    ul.wysihtml5-toolbar::after {clear: both;display: table;content: "";}
    ul.wysihtml5-toolbar > li {float: left;display: list-item;list-style: none;margin: 0 5px 0 0;}
    ul.wysihtml5-toolbar a[data-wysihtml5-command=bold] {font-weight: bold;}
    ul.wysihtml5-toolbar a[data-wysihtml5-command=italic] {font-style: italic;}
    ul.wysihtml5-toolbar a[data-wysihtml5-command=underline] {text-decoration: underline;}
    ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {background-image: none;-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);background-color: #E6E6E6;background-color: #D9D9D9;outline: 0;}
    ul.wysihtml5-commands-disabled .dropdown-menu {display: none !important;}
    ul.wysihtml5-toolbar div.wysihtml5-colors {display:block;width: 50px;height: 20px;margin-top: 2px;margin-left: 5px;position: absolute;pointer-events: none;}
    ul.wysihtml5-toolbar a {color: #454e57;}
    ul.wysihtml5-toolbar a.wysihtml5-colors-title {padding-left: 70px;}
    ul.wysihtml5-toolbar div[data-wysihtml5-command-value="black"] 	{background: black !important;}
    ul.wysihtml5-toolbar div[data-wysihtml5-command-value="silver"] 	{background: silver !important;}
    ul.wysihtml5-toolbar div[data-wysihtml5-command-value="gray"] 	{background: gray !important;}
    ul.wysihtml5-toolbar div[data-wysihtml5-command-value="maroon"] 	{background: maroon !important;}
    ul.wysihtml5-toolbar div[data-wysihtml5-command-value="red"] 	{background: red !important;}
    ul.wysihtml5-toolbar div[data-wysihtml5-command-value="purple"] 	{background: purple !important;}
    ul.wysihtml5-toolbar div[data-wysihtml5-command-value="green"] 	{background: green !important;}
    ul.wysihtml5-toolbar div[data-wysihtml5-command-value="olive"] 	{background: olive !important;}
    ul.wysihtml5-toolbar div[data-wysihtml5-command-value="navy"] 	{background: navy !important;}
    ul.wysihtml5-toolbar div[data-wysihtml5-command-value="blue"] 	{background: blue !important;}
    ul.wysihtml5-toolbar div[data-wysihtml5-command-value="orange"] 	{background: orange !important;}
    /*******************
    MESSAGE CENTER
    *******************/
    /*override bootstrap*/
    #message-center .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {background-color: transparent;background: transparent;border-color: transparent;border:none;}
    #message-center .nav-tabs.nav-stacked > li > a {border: none;}
    #message-center .nav-tabs.nav-stacked > li:first-child > a {border-top-left-radius: 0;border-top-right-radius: 0;}


    #message-center .tab-content > .tab-pane {margin-left: 10px;width: 765px;}

    #message-center .innerNav {/*height: 450px;*/}
    #message-center .innerNav .unread li {position: relative;}

    #message-center .itemListContent button {margin: 0 0 10px -5px;padding: 3px 6px 4px 6px;border:none;background: transparent}
    #message-center .itemListContent button i {margin-top: 2px;}

    #message-center {margin: 10px 0}
    #message-center .nav-tabs.nav-stacked > li  {border:none;margin-bottom: 10px;font-size: 13px;}
    #message-center .nav-tabs.nav-stacked > li:last-child {margin-bottom: 0}
    #message-center a {}
    #message-center .component-nav a {text-align: center;cursor: pointer;position: relative}
    #message-center .component-nav a .badge {display: inline-block;margin-left: 7px;position: relative;top: -4px;}
    #message-center .component-nav li.active a {}
    #message-center .nav-tabs.nav-stacked > li > a, #message-center #notificationCenter li {background: #fff}
    #message-center .nav-tabs.nav-stacked > li > a.btn.primary, #message-center #notificationCenter li a.btn.primary {background: #54b3cf;color: #fff;margin-bottom: 30px;}
    #message-center #notificationCenter li {padding: 8px 12px;}
    #message-center .nav-tabs.nav-stacked > .active > a, #message-center .nav-tabs.nav-stacked > .active > a:hover, #message-center .nav-tabs.nav-stacked a:hover {background: #E6EEF1}
    #message-center .innerNav.unread .active a {background: #fff}

    #message-center .component-nav .icon {font-size: 28px}
    #message-center .component-nav span {display: block;}
    /*width: 135px*/
    #message-center .component-nav {width: 114px;padding-right: 20px;border-right: 1px solid #ccc;float: left;margin-bottom: 0})
    #message-center .itemList ul.innerNav {/*width: 290px;*/width: 100%;float: left;}
    #message-center .itemList ul.innerNav .subject {width: 100%}
    #message-center .itemList .itemListContent {/*width: 470px;*/float: left;}
    #message-center .itemList .itemListContent .tab-pane {padding: 10px;}

    #message-center #createMessageCenter .itemListContent {/*width: 790px;margin-left: 10px;*/}

    #message-center #createMessageCenter form {margin: 10px 0 0}
    #message-center #createMessageCenter label {display: inline-block;width: 40px;float:left}
    #message-center #createMessageCenter .dropdown-toggle {color: #333 }
    #message-center #createMessageCenter textarea {width: 755px;height: 150px}

    #message-center .innerNav .post_author_thumb, #message-center .post_author_thumb {float: left;margin-bottom: 0;width: 60px;margin-right: 10px;}
    #message-center .innerNav .messageInfo {float: left;}
    #message-center .innerNav .messageInfo span {display: block}
    #message-center .innerNav li.unreadMessage .messageInfo span.title, #message-center .innerNav li.unreadMessage .messageInfo span.subject {color: #1bb7d6}
    #message-center .innerNav .messageActions .icon-trash {display: inline-block;margin-right: 12px;}
    #message-center .innerNav .messageActions .icon-trash:hover {color: #d64449}
    #message-center .innerNav .messageActions .date {display: inline-block;font-size: 11px;line-height: 12px; margin: 0 5px;}
    #message-center .innerNav .messageActions .fa {position: relative;top: 25px;color: #1bb7d6;margin: 0 2px;font-size: 15px;}
    #message-center .innerNav .messageActions .badge {padding-left: 6px;padding-right: 6px;font-size: 9px;background: #8bcee1;text-shadow: none}
    #message-center .innerNav .messageActions .fa fa-mail-reply {font-size: 12px;}
    #message-center .innerNav .messageActions .fa-check {color: #EFF107}

    /*message Details*/
    #message-center .conversationThread {margin: 30px 0 30px;}
    #message-center .conversationThread li {list-style: none;float: left;margin-bottom: 15px;position: relative;width: 100%}
    #message-center .conversationMeta {width: 500px;margin-right: 20px;float:left}
    #message-center .conversationActions {width: 240px;float:left}
    #message-center .conversationActions .icon{float:right;}
    #message-center .conversationActions .icon.icon-trash {margin-right: 15px;}

    #message-center .itemListContent .response_comment {width: 96%}
    #message-center .itemListContent #replyMessage textarea {width: 755px;height: 150px;}

    #message-center .conversationComment {float: left;background-color: #FFFFFF;border-radius: 8px;max-width: 665px;padding: 3px 6px;position: relative;white-space: normal;left:90px;font-size: 13px;border: 1px solid #ccc}
    #message-center .conversationThread li.alt .conversationComment {max-width: 665px;margin-right: 13px;left: 0}

    #message-center .conversationThread .post_author_thumb {margin-top: -31px;position: absolute;top: 50%;}
    #message-center .conversationThread li.alt .post_author_thumb {right: 0;}
    #message-center .conversationThread li.alt p {text-align: right}
    #message-center .conversationComment .arrow, #message-center .conversationComment .arrow:after {border-color: rgba(0, 0, 0, 0);border-style: solid;display: block;height: 0;position: absolute;width: 0;}
    #message-center .conversationComment .arrow {border-width: 11px;}
    #message-center .conversationComment.right .arrow { border-left-width: 0;border-right-color: #ccc;left: -11px;margin-top: -11px;top: 50%;}
    #message-center .conversationComment .arrow:after {border-width: 10px;content: "";}
    #message-center .conversationComment.right .arrow:after {border-left-width: 0;border-right-color: #FFFFFF;bottom: -10px;left: 1px;}

    #message-center .conversationComment.left .arrow {border-left-color: #ccc;border-right-width: 0;margin-top: -11px;right: -11px;top: 50%;	}
    #message-center .conversationComment.left .arrow:after {border-left-color: #FFFFFF;border-right-width: 0;bottom: -10px;right: 1px;}
    #message-center .conversationCommentContent {border-left-width: 0;border-right-color: #FFFFFF;bottom: -10px;left: 1px;}
</style>

    <div class="box">

    <div id="message-center">

    <!-- first layer icon navigation -->
    <ul class="nav nav-tabs nav-stacked component-nav">
        <li class="active"><a href="#createMessageCenter" class="firstOn" data-toggle="tab"><i
                class="icon icon-pencil"></i><span>compose</span></a></li>
        <li class=""><a href="#messageCenter" data-toggle="tab"><i class="icon icon-envelope-alt"></i><span
                class="badge badge-info">{{ message_count }}</span><span>Messages</span></a></li>
        <li class=""><a href="#commentCenter" data-toggle="tab" id="commentCenterlink"><i
                class="icon icon-comments"></i><span>Comments</span></a></li>
        <li class=""><a href="#eventCenter" data-toggle="tab"><i class="icon icon-calendar"></i><span>Events</span></a>
        </li>
        <li class=""><a href="#notificationCenter" data-toggle="tab"><i
                class="icon icon-flag"></i><span>Notifications</span></a></li>
    </ul>

    <!-- *******************************************
            MAIN WRAPPER FOR ALL THE TABS
    ************************************************ -->
    <div class="tab-content" id="messageArea">

    <!-- *******************************************
            CREATE MESSAGE PANEL
    ************************************************ -->
    <div class="tab-pane itemList active" id="createMessageCenter">
        <div class="tab-content itemListContent">
            <form>
                <div class="tab-pane active" id="createMessageCenterEditor">
                    <form id="composeMessage" action="" method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            <label class="control-label" for="inputTo">To:</label>

                            <div class="controls">
                                {{ compose_form.recipient }}
                            </div>
                        </div>
                        <textarea id="messageComposer" name="body" placeholder="Enter your message…"></textarea>

                        <div class="controls">
                            {#                                                {{ compose_form }}#}
                            <input class="btn btn-red" type="submit" value="Send Message"/>
                        </div>
                        <div class="alert alert-success" style="display: none;"></div>
                    </form>
                </div>
                <!-- end of createMessageCenterEditor -->
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        /* fetch notification */
                        $.ajax({
                                url: '/notification',
                                type: 'GET',
                                dataType: 'json',
                                data: $(this).serialize(),
                                success: function (result) {
                                    console.log(result)
                                    var compiled = _.template("<%_.each(notifications, function(notification) { %> <li><%= notification.title %></li> <% }); %>");
                                    $('#notificationCenter ul').html(compiled({notifications: result}))
                                }
                        });


                        $("#createMessageCenter form").submit(function () {
                            $.ajax({
                                url: '/message/compose/',
                                type: 'POST',
                                dataType: 'json',
                                data: $(this).serialize(),
                                success: function (result) {
                                    add_class = result.success ? 'alert-success' : 'alert-error';
                                    console.log(result)
                                    $('#createMessageCenterEditor .alert').removeClass('alert-success').removeClass('alert-error').addClass(add_class).html(result.message).hide().fadeIn(1000,
                                            function () {
                                                $(this).fadeOut(3000, function () {
                                                    window.location.href = '/message/inbox/#createMessageCenter';
                                                })
                                            })
                                }
                            })

                            return false;
                        })

                        $('#id_recipient').chosen();
                    });

                </script>
            </form>
        </div>
        <!-- end fo tab-content for createMessageCenter tab-pane -->

    </div>
    <!-- create Message Center pane -->


    <!-- *******************************************
            MESSAGE CENTER PANEL
    ************************************************ -->
    <div class="tab-pane itemList" id="messageCenter" style="">

    <ul class="nav nav-tabs nav-stacked innerNav">
        {% for message in message_list %}
            {% with user_profile=message.sender.get_profile %}
                <li>
                    <a class="messageLink" href="#messageOne" data-toggle="tab">

                        <div class="post_author_thumb">
                            {% if user_profile.use_gravatar or not user_profile.avatar %}
                                <img src="{% gravatar_url message.sender.email 65 %}" class="circle photo-border">
                            {% else %}
                                {% thumbnail user_profile.avatar "32x32" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}"
                                         class="circle photo-border sf-tooltip" data-toggle="tooltip"
                                         title="<span class='profileName'>{{ user_profile.get_pretty_name }}</span>">
                                {% endthumbnail %}
                            {% endif %}
                        </div>
                        <!--/post img-->
                        <div class="messageActions">
                            <span class="timestamp">{{ message.sent_at|date:_("DATETIME_FORMAT") }}</span>
                            <i class="icon icon-envelope"></i>
                            <!-- confirm the trash first with modal and then delete the message-->
                            {#												<a href="#deleteMessageCenter" class="firstOn" data-toggle="tab"><i class="icon icon-left icon-trash"></i></a>#}
                            <i class="icon icon-left icon-trash delete-message-icon"
                               message_id="{{ message.id }}"></i>
                        </div>


                        <div class="messageInfo">
                            <span>{{ user_profile }}</span>
                            <span class="eventDate">{{ message.subject }}</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>

                    <div class="clearfix"></div>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>

    <script>
        jQuery(document).ready(function ($) {
            $(".messageLink").click(function () {
                $.get("/message/view/" + $("#message_id").val(), function () {
                })
            });
            $(".delete-message-icon").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                var self = $(this);
                $.get("/message/delete/" + self.attr("message_id"), function (data) {
                    console.log(self.closest('li'));
                    self.closest('li').hide('slow');
                })
            })
        })
    </script>


    <div class="tab-content itemListContent" style="">
        <button><a href="#messageCenter"><i class="icon-chevron-left icon-left icon"></i>Back</a></button>

        <div class="tab-pane" id="messageOne" style="display:none">
            <div class="conversationMeta">
                <h5>From: {{ message.sender.get_profile }}</h5>
                {#												<h6>Subject: This is my Subject</h6>#}
            </div>
            <div class="conversationActions">
                <span class="timestamp">Aug 14, 2013 at 6:41am</span>
                <i class="icon icon-reply icon-left"></i>
                <i class="icon icon-right icon-trash"></i>
            </div>
            <div class="clearfix"></div>

            <form>
                <div class="tab-pane active" id="createMessageCenterEditor">
                    <form id="composeMessage" action="" method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            <label class="control-label" for="inputTo">To:</label>

                            <div class="controls">
                                {{ compose_form.recipient }}
                            </div>
                        </div>
                        <textarea id="messageReply" class="reply-text-area" name="body"
                                  placeholder="Enter your message…"></textarea>

                        <div class="controls">
                            {#                                                {{ compose_form }}#}
                            <input class="btn btn-red" type="submit" value="Send Message"/>
                        </div>
                        <div class="alert alert-success" style="display: none;"></div>
                    </form>

                </div>
                <!-- end of createMessageCenterEditor -->

            </form>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {

                    $('textarea').each(function () {
                        $(this).wysihtml5();
                    });
                    $("#messageReply form").submit(function () {
                        $.ajax({
                            url: '/message/compose/',
                            type: 'POST',
                            dataType: 'json',
                            data: $(this).serialize(),
                            success: function (result) {
                                add_class = result.success ? 'alert-success' : 'alert-error';
                                console.log(result)
                                $('#createMessageCenterEditor .alert').removeClass('alert-success').removeClass('alert-error').addClass(add_class).html(result.message).hide().fadeIn(1000,
                                        function () {
                                            $(this).fadeOut(3000, function () {
                                                window.location.reload()
                                            })
                                        })
                            }
                        })

                        return false;
                    })

                    $('.chosen-form').chosen();
                    $(".chosen-container").css("width", "220px");
                });

            </script>

            <div class="conversationThread">
                <ul>
                    {% for message in message_list %}
                        {% with user_profile=message.sender.get_profile %}
                            {% if user.id == user_profile.id %}

                                <li class="" style="float:right">
                                    <div class="post_author_thumb">
                                        <img width="32" height="20" class="circle photo-border"
                                             src="media/cache/3f/12/3f12bf107bdd5cc366897373cfca1691.jpg">
                                    </div>
                                    <!--/post img-->
                                    <div class="conversationComment right">
                                        <div class="arrow"></div>
                                        <div class="conversationCommentContent">
                                            <p>
                                                {{ message.body|safe }}
                                            </p>

                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <li class="">
                                    <div class="post_author_thumb">
                                        <img width="32" height="20" class="circle photo-border"
                                             src="media/cache/3f/12/3f12bf107bdd5cc366897373cfca1691.jpg">
                                    </div>
                                    <!--/post img-->
                                    <div class="conversationComment right">
                                        <div class="arrow"></div>
                                        <div class="conversationCommentContent">
                                            <p>
                                                {{ message.body|safe }}
                                            </p>

                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endwith %}
                        </br>
                    {% endfor %}
                </ul>
            </div>
            <!-- end of conversationThread -->
            <div class="clearfix"></div>


        </div>

    </div>
    <!-- end of messageCenter tab content -->

    </div>
    <!-- end of #messageCenter .tab-pane -->


    <!-- *******************************************
            COMMENTS PANEL
    ************************************************ -->
    <div class="tab-pane itemList" id="commentCenter" style="">
        <ul class="nav nav-tabs nav-stacked innerNav" id="results">
        </ul>

        <script>

            $("#commentCenterlink").click(function () {
                $.ajax({
                    url: "/post/comments",
                    dataType: 'json',
                    success: function (data) {
                        var json = data;
                        var str = "";
                        $(json).each(function (index, item) {
                            str += '<li>' +
                                    '<a class="messageLink" href="#commentOne" data-toggle="tab">' +
                                    '<Send Messagediv class="post_author_thumb">' +
                                    '<img width="32" height="20" class="circle photo-border">' +
                                    '</div>' +
                                    '<div class="messageActions">' +
                                    '<span class="' + item.timestamp + '"></span>' +
                                    '<i class="icon icon-comments"></i>' +
                                    '<i class="icon icon-left icon-trash delete-message-icon" message_id="' + item.id + '"></i>' +
                                    '</div>' +
                                    '<div class="messageInfo">' +
                                    '<span data-bind="author">' + item.author + '</span><span> commented:</span>' +
                                    '<span class="eventDate" data-bind="body">' + item.body + '</span>' +
                                    '</div>' +
                                    '<div class="clearfix"></div>' +
                                    '</a>' +
                                    '<div class="clearfix"></div>' +
                                    '</li>'
                        });
                        $("#results").html(str)
                    },
                    error: function (data) {
                        console.log('er');
                    }
                });
            })
        </script>
        <div class="tab-content itemListContent" style="">
            <button><a href="#commentCenter"><i class="icon-chevron-left icon-left icon"></i>Back</a></button>
            <div class="tab-pane" id="commentOne" style="display:none">
                <p>This is comment One</p>
            </div>
            <!-- end of commentOne -->

        </div>
        <!-- end of commentCenter tab content -->

    </div>
    <!-- end of #commentCenter .tab-pane -->


    <!-- *******************************************
            EVENTS PANEL
    ************************************************ -->
    <div class="tab-pane itemList" id="eventCenter" style="">

        <ul class="nav nav-tabs nav-stacked innerNav">
            {% for e in event_list %}
                <li><a class="messageLink" href="#event{{ e.id }}" data-toggle="tab">{{ e.name }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content itemListContent" style="">
            <button><a href="#eventCenter"><i class="icon-chevron-left icon-left icon"></i>Back</a></button>

            <!-- end of eventOne -->
            {% for e in event_list %}
            <div class="tab-pane" id="event{{ e.id }}" style="display:none">
                <p>{{ e.duration }}</p></br>
                <p>{{ e.frequency }}</p>
            </div>
            {% endfor %}

        </div>
        <!-- end of eventCenter tab content -->

    </div>
    <!-- end of #eventCenter .tab-pane -->
    <script>
        jQuery(document).ready(function ($) {
            $.ajax({
                url: "/account/event",
                dataType: 'json',
                success: function (data) {
                    var json = data;
                    var str = "";
                    $(json).each(function (index, event) {
                        str += '<div class="tab-pane" id="eventOne" style="display:none">'+
                                   '<p>Time'+ event.time + '</p></br>'+
                                   '<p>Time'+ event.beginning + '</p>'+
                               '</div>'
                    });
                    $("#results").html(str)
                },
                error: function (data) {
                    console.log('er');
                }
            });
        })
    </script>

    <!-- *******************************************
            NOTIFICATION PANEL
    ************************************************ -->
    <div class="tab-pane itemList" id="notificationCenter" style="">

        <ul class="nav nav-tabs nav-stacked innerNav">

        </ul>


    </div>
    <!-- end of #NotificationCenter .tab-pane -->


    <div class="clearfix"></div>
    </div>
    <!-- end of messageArea -->
    <div class="clearfix"></div>
    </div>
    <!-- end of message center -->

    <div class="clearfix"></div>
    </div><!-- end of box -->

</div>
{% endblock %}

