<!-- modal -->
<div class="modal hide fade" id="loginModal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="left"><span class="white">// </span><span class="yellow bold">Login</span> </h1>
    </div>
    <!-- end of modal heading -->
    <div class="modal-body">
        <form class="form-inline loginForm standard" method="POST" action="{% url login_page %}">
            {% csrf_token %}
            <div class="row-fluid">
                <div class="control-group ">
                    <div class="login_error_msg ">
                        <span class="" style="color: red"></span>
                    </div>
                </div>

                <div class="control-group ">
                    <a class="btn btn-info btn-facebook span12  " onclick="popupwindow('/login/facebook','Login With Facebook', 400, 250);"  href="#"><i class="icon-facebook"></i>Login with
                        Facebook</a>
                </div>
                <input type="hidden" name="next" value="">
                <div class="control-group span12 text-center">
                    OR
                </div>

                <div class="control-group">
                    <input type="text" id="iemail" name="email" placeholder="Email" class="span12">
                </div>
                <!-- end of control group -->
                <div class="control-group">
                    <input class="span12" name="password" id="appendedInputButton" type="password"
                           placeholder="Password">
                </div>
                <!-- end of control group -->
                <div class="control-group span8">
                    <a href="/account/reset/" class="pull-right">Forgot Your Password?</a>
                </div>

                <div class="control-group">
                    <button class="btn btn-yellow span12" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
    <!-- end of row-fluid -->

    <div class="modal-footer">
        <p>
            Don't have an account? <a href="#" class="signup-button">Sign up</a>
        </p>
    </div>
</div>
<!-- end of modal body -->
