<div class="span3 sidebar">

    <div class="tag-cloud events clearfix">
        <h3 class="tag-icon large">Filter Places By Tag</h3>
        <ul>
            <li><a class="events icon bar-icon" data-toggle="tab" href="#bars">bars</a></li>
            <li><a class="events icon club-icon" data-toggle="tab" href="#clubs">clubs</a></li>
            <li><a class="events icon coffee-icon" data-toggle="tab" href="#coffee-shops">coffee shops</a></li>
            <li><a class="events icon restaurant-icon" data-toggle="tab" href="#restaurants">Restaurants</a></li>
            <li><a class="events icon dance-icon" data-toggle="tab" href="#dance-clubs">Dance Club</a></li>
            <li><a class="events icon comedy-icon" href="#">comedy</a></li>
            <li><a class="events icon wine-icon" href="#">wine</a></li>
            <li><a class="events icon concerts-icon" href="#">concerts</a></li>
            <li><a class="events icon dj-icon" href="#">dj</a></li>
            <li><a class="events icon free-icon" href="#">free events</a></li>
            <li><a class="events icon sports-icon" href="#">sports</a></li>
            <li><a class="events icon concerts-icon" href="#">concerts</a></li>
            <li><a class="events icon dance-icon" href="#">dance</a></li>
            <li><a class="events icon wine-icon" href="#">wine</a></li>
            <li><a class="events icon concerts-icon" href="#">concerts</a></li>
            <li><a class="events icon dj-icon" href="#">dj</a></li>
            <li><a class="events icon free-icon" href="#">free events</a></li>
            <li><a class="events icon sports-icon" href="#">sports</a></li>

        </ul>
    </div>
    <!-- end of tags -->
    <div class="social-feed events clearfix">
        <h3 class="social-icon large">Social Feed</h3>
        <ul>
            <li class="profile">
                <a class="span3 profileImg" href="#profile-link"><img src="http://lorempixel.com/45/45/people/1"/></a>
                <span class="events icon heart-icon"><em class="link">is attending</em><br/></span> <span><a
                    class="link" href="#">taco tuesday</a></span><br/>at <span><a class="link" href="#">club
                aaron</a></span>
            </li>
            <li class="profile">
                <a class="span3 profileImg" href="#profile-link"><img src="http://lorempixel.com/45/45/people/1"/></a>
                <span class="events icon heart-icon"><em class="link">is attending</em><br/></span> <span><a
                    class="link" href="#">taco tuesday</a></span><br/>at <span><a class="link" href="#">club
                aaron</a></span>
            </li>
            <li class="profile">
                <a class="span3 profileImg" href="#profile-link"><img src="http://lorempixel.com/45/45/people/1"/></a>
                <span class="events icon heart-icon"><em class="link">is attending</em><br/></span> <span><a
                    class="link" href="#">taco tuesday</a></span><br/>at <span><a class="link" href="#">club
                aaron</a></span>
            </li>
            <li class="profile">
                <a class="span3 profileImg" href="#profile-link"><img src="http://lorempixel.com/45/45/people/1"/></a>
                <span class="events icon heart-icon"><em class="link">is attending</em><br/></span> <span><a
                    class="link" href="#">taco tuesday</a></span><br/>at <span><a class="link" href="#">club
                aaron</a></span>
            </li>
        </ul>
    </div>
    <!-- end of social feed -->

</div><!-- end of sidebar -->
