<!-- modal -->
<div class="modal container hide fade" id="signup8Modal" aria-hidden="true" data-replace="true">
    <div class="modal-header">
        <span class="skip-link pull-right signup-finish-button">skip it already »</span>
        <h1>Other SportFreak's with similar Interests as you</h1>
    </div>
    <!-- end of modal heading -->
    <div class="modal-body"></div>
    <!-- end of row-fluid -->

    <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <input type="button" value="Back" class="btn pull-left signup-7-button"/>
                <input type="button" value="Continue" class="btn btn-red pull-right signup-finish-button"/>
            </div>
        </div>
    </div>
</div>


