{% load humanize %}
{% load gravatar %}
{% load thumbnail %}

{% if upcoming_events %}
<div id="eventListings" class="span6 full_post masonry-brick" style="position: absolute; top: 0px; left: 480px;">
			<div class="post">
				<h4 class="span9">Upcoming Events</h4>
				<a class="eventToggle span3" href="{% url live_events %}">View All</a>
				<div class="clearfix"></div>
				<ul class="events">
                    {% for event in upcoming_events %}
					<li>
                        {% with profile=event.related_object %}
						<div class="post_author_thumb">
					         <a href="{% url public_profile_detail profile.id %}">
                                {% if profile.use_gravatar or not profile.avatar %}
                                <img src="{% gravatar_url post.author.email 32 %}" class="circle photo-border"> {% else %}
                                {% thumbnail profile.avatar "32x32" as im %}
                                <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="circle photo-border">
                                {% endthumbnail %}
                                {% endif %}
                             </a>
                        </div><!--/post img-->
						<div class="eventInfo">
							<a href="{% url event_details event.id %}" class="post_author_name">
                                <span>{{ event.name }}</span>
                                <span class="icon icon-{{interest.get_type}}"><img src="/static/images/{{interest.get_type|default:"fanzone"}}_icon-mini.png" /></span></span>
                            </a>
							<span class="eventDate">{{ event.beginning|naturalday}} @ {{event.time}}</span>
						</div>
						<div class="eventActions">
							<a class="calendar" href="#"><i class="icon-calendar icon-left"></i></a>
							<a class="info" href="#"><i class="icon-info icon-left"></i></a>
						</div>
                        {% endwith %}
					</li>
                    {% endfor %}
					<div class="clearfix"></div>
				</ul>

			</div><!-- end of the post -->
		</div>
{% endif %}