<!-- template for emails for famdates -->
<style type="text/css">
    h2 {
        color: #8d8d8d;
        font-size: 16px;
        margin-bottom: 25px;
    }

    p {
        color: #8d8d8d;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 24px;
    }

    a {
        color: #ff3030;
        font-size: 16px;
    }
</style>
<table id="Table_01" width="600" border="0" cellpadding="0" cellspacing="0">
    <tr cellspacing="0" cellpadding="0" border="0">
        <td colspan="9" style="padding: 0; margin: 0;height: 91px;"><img style="display:block"
                                                                         src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_01.png"
                                                                         width="600" height="91" alt=""></td>
    </tr>
    <tr cellspacing="0" cellpadding="0" border="0">
        <!-- this is the content area -->
        <td colspan="9" style="background: #f2f2f2;padding: 30px 20px">

            <!-- add our email message here. Use H2 for titles and then normal paragraphs -->
            {% block body %}
            {% endblock %}
        </td>
        <!-- end of content area -->
    </tr>
    <tr cellspacing="0" cellpadding="0" border="0">
        <td colspan="9" style="padding: 0; margin: 0;height: 116px;"><img style="display:block"
                                                                          src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_03.png"
                                                                          width="600" height="116" alt=""></td>
    </tr>
    <tr cellspacing="0" cellpadding="0" border="0">
        <td style="padding: 0; margin: 0;height: 23px;"><img style="display:block"
                                                             src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_04.png"
                                                             width="129" height="23" alt=""></td>
        <!-- facebook page link -->
        <td style="padding: 0; margin: 0;height: 23px;"><a href="#facebook"><img style="display:block"
                                                                                 src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_05.png"
                                                                                 width="95" height="23" alt=""></a></td>
        <td style="padding: 0; margin: 0;height: 23px;"><img style="display:block"
                                                             src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_06.png"
                                                             width="24" height="23" alt=""></td>
        <!-- twitter page link -->
        <td style="padding: 0; margin: 0;height: 23px;"><a href="#twitter"><img style="display:block"
                                                                                src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_07.png"
                                                                                width="76" height="23" alt=""></a></td>
        <td style="padding: 0; margin: 0;height: 23px;"><img style="display:block"
                                                             src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_08.png"
                                                             width="27" height="23" alt=""></td>
        <!-- youtube page link -->
        <td style="padding: 0; margin: 0;height: 23px;"><a href="#youtube"><img style="display:block"
                                                                                src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_09.png"
                                                                                width="87" height="23" alt=""></a></td>
        <td colspan="3" style="padding: 0; margin: 0;height: 23px;"><img style="display:block"
                                                                         src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_10.png"
                                                                         width="162" height="23" alt=""></td>
    </tr>
    <tr cellspacing="0" cellpadding="0" border="0">
        <td colspan="7" rowspan="3" style="padding: 0; margin: 0;height: 131px;"><img style="display:block"
                                                                                      src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_11.png"
                                                                                      width="449" height="131" alt="">
        </td>
        <td colspan="2" style="padding: 0; margin: 0;height: 43px;"><img style="display:block"
                                                                         src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_12.png"
                                                                         width="151" height="43" alt=""></td>
    </tr>
    <tr cellspacing="0" cellpadding="0" border="0">
        <!-- unsubsribe link goes here -->
        <td style="padding: 0; margin: 0;height: 23px;"><a href="#"><img style="display:block"
                                                                         src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_13.png"
                                                                         width="72" height="23" alt=""></a></td>
        <td style="padding: 0; margin: 0;height: 23px;"><img style="display:block"
                                                             src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_14.png"
                                                             width="79" height="23" alt=""></td>
    </tr>
    <tr cellspacing="0" cellpadding="0" border="0">
        <td colspan="2" style="padding: 0; margin: 0;height: 65px;"><img style="display:block"
                                                                         src="http://famdates.simpleunion.com/static/images/email-templates/emailtemplates_15.png"
                                                                         width="151" height="65" alt=""></td>
    </tr>
    <tr cellspacing="0" cellpadding="0" border="0">
        <td style="padding: 0; margin: 0;height: 1px;"><img style="display:block"
                                                            src="http://famdates.simpleunion.com/static/images/email-templates/spacer.gif"
                                                            width="129" height="1" alt=""></td>
        <td style="padding: 0; margin: 0;height: 1px;"><img style="display:block"
                                                            src="http://famdates.simpleunion.com/static/images/email-templates/spacer.gif"
                                                            width="95" height="1" alt=""></td>
        <td style="padding: 0; margin: 0;height: 1px;"><img style="display:block"
                                                            src="http://famdates.simpleunion.com/static/images/email-templates/spacer.gif"
                                                            width="24" height="1" alt=""></td>
        <td style="padding: 0; margin: 0;height: 1px;"><img style="display:block"
                                                            src="http://famdates.simpleunion.com/static/images/email-templates/spacer.gif"
                                                            width="76" height="1" alt=""></td>
        <td style="padding: 0; margin: 0;height: 1px;"><img style="display:block"
                                                            src="http://famdates.simpleunion.com/static/images/email-templates/spacer.gif"
                                                            width="27" height="1" alt=""></td>
        <td style="padding: 0; margin: 0;height: 1px;"><img style="display:block"
                                                            src="http://famdates.simpleunion.com/static/images/email-templates/spacer.gif"
                                                            width="87" height="1" alt=""></td>
        <td style="padding: 0; margin: 0;height: 1px;"><img style="display:block"
                                                            src="http://famdates.simpleunion.com/static/images/email-templates/spacer.gif"
                                                            width="11" height="1" alt=""></td>
        <td style="padding: 0; margin: 0;height: 1px;"><img style="display:block"
                                                            src="http://famdates.simpleunion.com/static/images/email-templates/spacer.gif"
                                                            width="72" height="1" alt=""></td>
        <td style="padding: 0; margin: 0;height: 1px;"><img style="display:block"
                                                            src="http://famdates.simpleunion.com/static/images/email-templates/spacer.gif"
                                                            width="79" height="1" alt=""></td>
    </tr>
</table>
<!-- end of email template -->
