<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>famdates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/profile.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->


</head>


<body>

<div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">&nbsp;</div>
                <a class="brand hidden-phone" href="#"><img src="images/textlogo.png"></a>
                <a class="brand hidden-desktop brand-text" href="#"><span class="white">Sports</span><span class="red">Freak</span></a>

                <div class="nav-collapse collapse">
                    <ul class="nav pages pull-right">
                        <li><a href="#">fan zone</a></li>
                        <li><a href="#">fitness &amp; nutrition</a></li>
                        <li><a href="#">game time</a></li>
                        <li class="hidden-phone hidden-tablet no-link">| &nbsp;</li>
                        <li class="hidden-phone hidden-tablet no-link white">sumisumi jones</li>
                        <li class="profile-thumnail hidden-phone hidden-tablet"><img
                                src="images/header_userprofileimg.png"></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">

        <div class="about-page-header hidden-phone hidden-tablet">


            <div class="transparent span1 general-page-header hidden-phone">
                <span class="red">faq</span>

            </div>
            <!--/transparent-->

        </div>
        <!--/page header-->


    </div>


    <div class="container white-background general-hero">

        <div class="span11 general-margin-left">

            <h3 class="page-title">faq</h3>
            <h4>What is famdates?</h4>

            <p>- Thefamdates is the ultimate portal connecting sports, fitness, and nutrition enthusiasts globally,
                allowing for an interactive and informational forum encompassing their common interests and
                passions.</p>


            <h4>What is FanZone?</h4>

            <p>- Fan Zone is the feed on the site where sports fans all across the world come together to talk sports,
                connect with other fans online or at local events and pubs. Fan Zone will also, give you live score
                updates for all your favorite teams.</p>


            <h4>What is Fitness and Nutrition?</h4>

            <p>- Fitness & Nutrition is the feed on the site where users can come together to discuss workouts, post
                workout tips and videos, discuss supplements and nutrition, find trainers, gyms, nutritionists all in
                your local area, or world wide.</p>


            <h4>What is Game Time?</h4>

            <p>- Game Time is the feed on the site where active people can find other active people who share similar
                interests to interact with. This feed allows users to find local pick up games, find leagues to join or
                coaches for their teams. Find local events such as marathons or tournaments and so on.</p>


            <h4>Who can join and/or use Thefamdates? Is there a fee to join?</h4>

            <p>-Thefamdates is open to all users 13 years of age and older. Joining TSF is free for all users. </p>


            <h4>What do I need to join?</h4>

            <p>- Information including images on a user profile are available to all TSF users. Please be sure to use
                good judgment when posting information and/or images on your profile.</p>


            <h4>Does Thefamdates sell my personal information?</h4>

            <p>- Rest assured, Thefamdates will never sell any personal information you provide while using our
                services to any 3rd party and/or company. In some instances, Thefamdates will use such information to
                improve our services to provide the best user experience to users.</p>


            <h4>How do I follow another user?</h4>

            <p>- All TSF users are able to search and/or follow one another. In order to find any follow another user,
                you can search for them by their name, username, geographic location, interests, expertise, etc. You may
                also use the import button in order to import friends from other networks. TSF will also match you with
                users of similar interests and give you suggestions on people you may be interested in following. After
                searching for and finding another user you would like to follow, you can click on the “Subscribe” button
                in order to follow that user.</p>


        </div>


    </div>
    <!--/container-->


    <div id="footer">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a> <span class="divider"> | </span></li>
                    <li><a href="#">About Us</a> <span class="divider"> | </span></li>
                    <li><a href="#">Terms</a> <span class="divider"> | </span></li>
                    <li><a href="#">Faq</a> <span class="divider"> | </span></li>
                    <li><a href="#">Privacy</a> <span class="divider"> | </span></li>
                    <li><a href="#">Contact Us</a></li>

                </ul>
            </div>
            <!--/.nav-collapse -->


        </div>

    </div>

</div>
<!--/wrap-->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/holder.js"></script>

</body>
</html>
