<!-- you could also review this for modal alerts: http://bootboxjs.com/ -->
<!-- use this for all modal alerts -->
<!-- be sure to add a modal ID -->
<!-- make sure link opening modal is structured like this: <a href="#ID" data-toggle="modal"> -->
<div class="modal hide fade" id="<!-- add your ID here -->" aria-hidden="true">
    <div class="modal-header">
        <h2>Confirmation Alert</h2>
    </div>
    <!-- end of modal heading -->

    <div class="modal-body">
        <!-- add the alert here -->

    </div>
    <!-- end of modal body -->

    <div class="modal-footer">
        <a href="" class="btn">Cancel</a>
        <a href="" class="btn danger">Yes</a>
    </div>
    <!-- end of modal footer -->
</div><!-- end of modal -->