<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>famdates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/profile.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->


</head>


<body>

<div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">&nbsp;</div>
                <a class="brand hidden-phone" href="#"><img src="images/textlogo.png"></a>
                <a class="brand hidden-desktop brand-text" href="#"><span class="white">Sports</span><span class="red">Freak</span></a>

                <div class="nav-collapse collapse">
                    <ul class="nav pages pull-right">
                        <li><a href="#">fan zone</a></li>
                        <li><a href="#">fitness &amp; nutrition</a></li>
                        <li><a href="#">game time</a></li>
                        <li class="hidden-phone hidden-tablet no-link">| &nbsp;</li>
                        <li class="hidden-phone hidden-tablet no-link white">sumisumi jones</li>
                        <li class="profile-thumnail hidden-phone hidden-tablet"><img
                                src="images/header_userprofileimg.png"></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">

        <div class="about-page-header hidden-phone hidden-tablet">


            <div class="transparent span3 general-page-header hidden-phone">
                <span class="red">privacy</span> policy

            </div>
            <!--/transparent-->

        </div>
        <!--/page header-->


    </div>


    <div class="container white-background general-hero">

        <div class="span11 general-margin-left">
            <h3 class="page-title">privacy policy</h3>

            <p>Thefamdates is the ultimate portal connecting sport, fitness, and nutrition enthusiasts globally,
                allowing for an interactive and informational forum encompassing their common interests and
                passions.</p>

            <p>This Privacy Policy describes how and when Thefamdates collects, uses and shares your information when
                you use our Services. Thefamdates receives your information through your public profile and/or our
                various websites, SMS, APIs, email notifications, applications, buttons, and widgets (the "Services" or
                "Thefamdates"). For example, you send us information when you use Thefamdates from our website,
                post on your public profile, via SMS, or access Thefamdates from an application such as
                Thefamdates for Mac, Thefamdates for Android or Thefamdates Mobile. When using any of our
                Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of
                your information as described in this Privacy Policy. Irrespective of which country you reside in or
                supply information from, you authorize Thefamdates to use your information in the United States and
                any other country or jurisdiction where Thefamdates operates.</p>

            <p>If you have any questions or comments about this Privacy Policy, please contact us at
                privacy@thefamdates.com or here.</p>


        </div>


    </div>
    <!--/container-->


    <div class="container gray-background-about general-testimonial">


        <div class="span11 general-margin-left">
            <h3 class="page-title">information collection and use</h3>

            <h4>Information Collected Upon Registration</h4>

            <p>When you create or reconfigure a Thefamdates account, you provide some personal information, such as
                your name, username, password, and email address. Some of this information, for example, your name and
                username, is listed publicly on our Services, including on your profile page and in search results. Some
                Services, such as search, public user profiles and viewing lists, do not require registration.</p>


            <h4>Additional Information</h4>

            <p>You may provide us with profile information to make public, such as a short biography, your location,
                your website, or a picture. You may provide information to customize your account, such as a cell phone
                number for the delivery of SMS messages. We may use your contact information to send you information
                about our Services or to market to you. You may use your account settings to unsubscribe from
                notifications from Thefamdates. You may also unsubscribe by following the instructions contained
                within the notification or the instructions on our website. We may use your contact information to help
                others find your Thefamdates account, including through third-party services and client applications.
                Your account settings control whether others can find you by your email address or cell phone number. If
                you email us, we may keep your message, email address and contact information to respond to your
                request. If you connect your Thefamdates account to your account on another service in order to
                cross-post between Thefamdates and that service, the other service may send us your registration or
                profile information on that service and other information that you authorize. This information enables
                cross-posting, helps us improve the Services, and is deleted from Thefamdates within a few weeks of
                your disconnecting from Thefamdates your account on the other service. Providing the additional
                information described in this section is entirely optional.</p>

            <h4>Posting, Following, Lists and other Public Information</h4>

            <p>Our Services are primarily designed to help you to connect and interact with other sport, fitness, and
                nutrition enthusiasts and share your common interests. Most of the information you provide us is
                information you authorize to become public. This includes not only your posts and the subsequent
                metadata provided with posting, such as when you created a post, but also the lists you create, the
                people you follow, and many other bits of information that result from your use of the Services. Our
                default is almost always to make the information you provide public for as long as you do not delete it
                from Thefamdates profile and/or account, but we generally give you settings to make the information
                more private if you want. Your public information is broadly and instantly disseminated. For instance,
                your public user profile information and information included within may be searchable by search engines
                and are immediately delivered via SMS and our APIs to a wide range of users and services. When you share
                information or content like photos, videos, and links via the Services, you should think carefully about
                the content and information you are making public.</p>

            <h4>Location Information</h4>

            <p>You may choose to publish your location in your posts and in your Thefamdates profile. You may also
                tell us your location when you set your trend location on Thefamdates or enable your computer or
                mobile device to send us location information. You can set your Thefamdates location preferences in
                your account settings and learn more about this feature here. Learn how to set your mobile location
                preferences here. We may use and store information about your location to provide features of our
                Servicesand to improve and customize the Services, for example, with more relevant content like local
                trends, stories, ads, and suggestions for people to follow.</p>

            <p>Links: Thefamdates may keep track of how you interact with links across our Services, including our
                email notifications, third-party services, and client applications, by redirecting clicks or through
                other means. We do this to help improve our Services, to provide more relevant advertising, and to be
                able to share aggregate click statistics such as how many times a particular link was clicked on.</p>


        </div>
        <!--/span11-->


    </div>
    <!--/container-->


    <div id="footer">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a> <span class="divider"> | </span></li>
                    <li><a href="#">About Us</a> <span class="divider"> | </span></li>
                    <li><a href="#">Terms</a> <span class="divider"> | </span></li>
                    <li><a href="#">Faq</a> <span class="divider"> | </span></li>
                    <li><a href="#">Privacy</a> <span class="divider"> | </span></li>
                    <li><a href="#">Contact Us</a></li>

                </ul>
            </div>
            <!--/.nav-collapse -->


        </div>

    </div>

</div>
<!--/wrap-->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/holder.js"></script>

</body>
</html>
